body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    width:100vh;
    font-family: Arial, sans-serif;
    background-image: url(./assets/Homepage.svg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    
}
.Title{
    margin-top:auto;
    margin-bottom:30px;
    width:500px;
    height:100px;
    background-image: url(./assets/Title.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:auto;
}

.game-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    background-size: cover;
    background-position: center;
}

.startgame {
    background-image: url(./assets/STARTGAME.png);
}

.loadgame {
    background-image: url(./assets/loadgame.png);
}

.game-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

.options {
    background-image: url(./assets/options.png);
}



.options-box {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
}

.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(20px);
}