:root {
  --size:      800px;
  --backcolor: darkslategray;
  --dark:      grey;
  --light:     white;
  --legend:    azure;
  --hover:     lightgreen
}

html, body {
  width: 100vw; 
  height: 100vh;
}

.outline{
  display: flex;
  flex-direction: column;
  margin:auto;
  max-width: fit-content;
}
.displayHistory{
  width:300px;
  height:100px;
  background: rgb(255, 255, 255);
  margin:auto;
  border:3px black double;
}
.board {
  align-items:center;
  width: 520px;
  height: 520px;
  border:5px dimgray double;
  border-color: var(--backcolor);
  border-radius: 0.5rem;
  margin:auto;
  
}
.square {
  border: 1px black solid;
  border-radius: 0.5rem;
}
.white{
  background: var(--light);
}
.black{
  background: var(--light)
}
[data-highlight="true"]{
  background: rgb(13, 95, 13);
}
.bullet{
  background-image: url(./assets/bullet.png);
  background-size: cover;
}
/*--------------------------------------pieces--------------------------------------------*/
.player1-cannon{
  background-image: url(./assets/cannon-down.jpeg); 
  background-size: cover;
}
.player1-titan{
  background-image: url(./assets/blue\ crown.jpg); 
  background-size: cover;
}
.player1-rico[data-rotation="1"]{
  background-image: url(./assets/blue\ rico.png);
  background-size: cover;
}
.player1-rico[data-rotation="2"]{
  background-image: url(./assets/blue\ rico.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player1-rico[data-rotation="3"]{
  background-image: url(./assets/blue\ rico.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player1-rico[data-rotation="4"]{
  background-image: url(./assets/blue\ rico.png);
  background-size: cover;
  transform: rotate(270deg);
}
.player1-tank{
  background-image: url(./assets/Shield\ blue.png); 
  background-size: cover;
  transform: rotate(180deg);
}
.player1-srico[data-rotation="1"]{
  background-image: url(./assets/blue\ srico.png);
  background-size: cover;
}
.player1-srico[data-rotation="2"]{
  background-image: url(./assets/blue\ srico.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player1-srico[data-rotation="3"]{
  background-image: url(./assets/blue\ srico.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player1-srico[data-rotation="4"]{
  background-image: url(./assets/blue\ srico.png);
  background-size: cover;
  transform: rotate(270deg);
}

.player2-cannon{
  background-image: url(./assets/cannon-up.jpeg); 
  background-size: cover;
  
}
.player2-titan{
  background-image: url(./assets/red\ crown.jpg);
  background-size:cover; 
}
.player2-rico{
  background: red; 
}
.player2-tank{
  background-image: url(./assets/Shield\ red.png) ; 
  background-size: cover;
  
}
.player2-srico[data-rotation="1"]{
  background-image: url(./assets/red\ srico.png);
  background-size: cover;
}
.player2-srico[data-rotation="2"]{
  background-image: url(./assets/red\ srico.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player2-srico[data-rotation="3"]{
  background-image: url(./assets/red\ srico.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player2-srico[data-rotation="4"]{
  background-image: url(./assets/red\ srico.png);
  background-size: cover;
  transform: rotate(270deg);
}
.player2-rico[data-rotation="1"]{
  background-image: url(./assets/red\ rico.png);
  background-size: cover;
}
.player2-rico[data-rotation="2"]{
  background-image: url(./assets/red\ rico.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player2-rico[data-rotation="3"]{
  background-image: url(./assets/red\ rico.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player2-rico[data-rotation="4"]{
  background-image: url(./assets/red\ rico.png);
  background-size: cover;
  transform: rotate(270deg);
}
/*----------------------------------------------------------pieces-----------------------------------------------------------*/
[data-timer="player1"], [data-timer="player2"] {
  height: 50px;
  width: 100px;
  
  margin: 10px auto;
  text-align: center;
  color: white;
  font-size: 24px;
  color:black;
  font-weight:bold;
  line-height: 50px;
  border:3px black solid;
  border-radius:5px;
}
.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
}
.control-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-family: sans-serif,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/*
.pause{
  background-image: url(./assets/pause.jpg);
  background-size:cover;
}
.resume{
  background-image: url(./assets/play.jpg);
  background-size:cover;
}
*/

.rotation-controls {
  display: none;
  justify-content: center;
  margin-top: 20px;
}
.rotation-controls.rotate-left {
  visibility : hidden;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.rotation-controls.rotate-right{
  visibility: hidden;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.current-player {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  z-index: 1000;
}
.popup.active {
  display: block;
}
