:root {
  --size:      520px;
  --backcolor: darkslategray;
  --dark:      grey;
  --light:     white;
  --legend:    azure;
  --hover:     lightgreen
}
body{
  background-image:url(./assets/yugesh_assests/background-main.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: black;
}
body {
  height: 100%;
  overflow-y: hidden;
}
.outline{
  display: grid;
  margin:auto;
  max-width: fit-content;
}
.board {
  align-items:center;
  width: var(--size);
  height: var(--size);
  border:5px dimgray double;
  border-color: var(--backcolor);
  border-radius: 0.5rem;
  margin:auto;
  
}
.square {
  border: 1px black solid;
  border-radius: 0.5rem;
}
.white, .black{
  background: rgb(255,255,255,0.5);
}

[data-highlight="true"]{
  background: rgb(13, 95, 13);
}
.bullet{
  animation-name: bull;
  animation-duration:0.2s;
}
@keyframes bull{
  0%{background-image: url(./assets/bullet.png);background-size:cover;}
  50%{background-image: url(./assets/bullet.png);background-size:cover;}
  100%{background-image: url(./assets/bullet.png);background-size:cover;}
}
/*--------------------------------------pieces--------------------------------------------*/
.player1-cannon{
  background-image: url(./assets/yugesh_assests/cannon-blue.png); 
  transform: rotate(180deg);
  background-size: cover;
}
.player1-titan{
  background-image: url(./assets/yugesh_assests/titan-blue.png); 
  background-size: cover;
}
.player1-rico[data-rotation="1"]{
  background-image: url(./assets/yugesh_assests/ricochet-blue.png);
  background-size: cover;
}
.player1-rico[data-rotation="2"]{
  background-image: url(./assets/yugesh_assests/ricochet-blue.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player1-rico[data-rotation="3"]{
  background-image: url(./assets/yugesh_assests/ricochet-blue.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player1-rico[data-rotation="4"]{
  background-image: url(./assets/yugesh_assests/ricochet-blue.png);
  background-size: cover;
  transform: rotate(270deg);
}
.player1-tank{
  background-image: url(./assets/yugesh_assests/shield-blue.png); 
  background-size: cover;
  transform: rotate(180deg);
}
.player1-srico[data-rotation="1"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-blue.png);
  background-size: cover;
}
.player1-srico[data-rotation="2"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-blue.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player1-srico[data-rotation="3"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-blue.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player1-srico[data-rotation="4"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-blue.png);
  background-size: cover;
  transform: rotate(270deg);
}

.player2-cannon{
  background-image: url(./assets/yugesh_assests/cannon-red.png); 
  background-size: cover;
  
}
.player2-titan{
  background-image: url(./assets/yugesh_assests/titan-red.png);
  background-size:cover; 
}
.player2-rico{
  background: red; 
}
.player2-tank{
  background-image: url(./assets/yugesh_assests/shield-red.png) ; 
  background-size: cover;
  
}
.player2-srico[data-rotation="1"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-red.png);
  background-size: cover;
}
.player2-srico[data-rotation="2"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-red.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player2-srico[data-rotation="3"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-red.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player2-srico[data-rotation="4"]{
  background-image: url(./assets/yugesh_assests/semi-ricochet-red.png);
  background-size: cover;
  transform: rotate(270deg);
}
.player2-rico[data-rotation="1"]{
  background-image: url(./assets/yugesh_assests/ricochet-red.png);
  background-size: cover;
}
.player2-rico[data-rotation="2"]{
  background-image: url(./assets/yugesh_assests/ricochet-red.png);
  background-size: cover;
  transform: rotate(90deg);
}
.player2-rico[data-rotation="3"]{
  background-image: url(./assets/yugesh_assests/ricochet-red.png);
  background-size: cover;
  transform: rotate(180deg);
}
.player2-rico[data-rotation="4"]{
  background-image: url(./assets/yugesh_assests/ricochet-red.png);
  background-size: cover;
  transform: rotate(270deg);
}
/*----------------------------------------------------------pieces-----------------------------------------------------------*/
[data-timer="player1"], [data-timer="player2"] {
  height: 50px;
  width: 100px;
  
  margin: 10px auto;
  text-align: center;
  font-size: 24px;
  color:white;
  font-weight:bold;
  line-height: 50px;
  border:3px white solid;
  background:rgb(13, 95, 13,.4);
  border-radius:5px;
}
.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.control-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-family:sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
  font-weight:bold;
  font-size: 16px;
  cursor: pointer;
}
.rotation-controls {
  display: none;
  justify-content: center;
  margin-top: 20px;
}
.rotation-controls.rotate-left {
  visibility : hidden;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.rotation-controls.rotate-right{
  visibility: hidden;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.current-player {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  z-index: 1000;
}
.popup.active {
  display: block;
}
