:root {
  --size:      800px;
  --backcolor: darkslategray;
  --dark:      grey;
  --light:     white;
  --legend:    azure;
  --hover:     lightgreen
}
.board {
  width: var(--size);
  height: var(--size);
  border: 32px solid;
  border-color: var(--backcolor);
  border-radius: 0.5rem;
}
.square {
  border: 1px black solid;
}
.white{
  background: var(--light);
}
.black{
  background: var(--dark)
}
[data-highlight="true"]{
  background: rgb(13, 95, 13);
}

/*td:hover {
  background: var(--hover);
  cursor: pointer;
}*/

[data-tank="true"]{
  background: blue; 
}

[data-cannon="true"]{
  background: brown;
}

[data-rico="true"]{
  background: orange;
}

[data-srico="true"]{
  background: pink;
}

[data-titan="true"]{
  background: rgb(16, 2, 77);
}