:root {
  --size:      800px;
  --backcolor: darkslategray;
  --dark:      grey;
  --light:     white;
  --legend:    azure;
  --hover:     lightgreen
}
.outline{
  display: flex;
  margin:auto;
  justify-content: space-between;
  align-items: center;
  max-width: fit-conten
}
.board {
  align-items:center;
  width: var(--size);
  height: var(--size);
  border: 32px solid;
  border-color: var(--backcolor);
  border-radius: 0.5rem;
}
.square {
  border: 1px black solid;
}
.white{
  background: var(--light);
}
.black{
  background: var(--dark)
}
[data-highlight="true"]{
  background: rgb(13, 95, 13);
}

/*td:hover {
  background: var(--hover);
  cursor: pointer;
}*/

.player1-cannon{
  background-image: url(cannon-down.jpeg); 
  background-size: cover;
}
.player1-titan{
  background: blue; 
}
.player1-rico{
  background: blue; 
}
.player1-tank{
  background-image: url(Shield\ blue.png); 
  background-size: cover;
}
.player1-srico{
  background: blue; 
}


.player2-cannon{
  background-image: url(cannon-up.jpeg); 
  background-size: cover;
}
.player2-titan{
  background: red; 
}
.player2-rico{
  background: red; 
}
.player2-tank{
  background-image: url(Shield\ red.png) ; 
  background-size: cover;
}
.player2-srico{
  background: red; 
}
[data-timer="player1"]{
  height:100px;
  width:200px;
  background:orange;
}
[data-timer="player2"]{
  height:100px;
  width:200px;
  background:maroon;
}